@import "tailwindcss";

@layer base {
    :root {
        --background: 210 40% 98%;
        --foreground: 222 47% 11%;

        --card: 0 0% 100%;

        --primary: 250 47% 60%;
        --primary-foreground: 210 40% 98%;

        --border: 214 32% 91%;
    }

    .dark {
        --background: 222 47% 4%;
        --foreground: 213 31% 91%;

        --card: 222 47% 8%;

        --primary: 250 65% 65%;
        --primary-foreground: 213 31% 91%;

        --border: 217 33% 20%;
    }
}

*::-webkit-scrollbar {
    display: none !important;
}

* {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}